 html,body,div,ul,li,span,h1{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 3.125vw;
}
.h4{
	padding-top: 1rem;
	padding-left: 1rem;
}
.zonglan{
	width: 100%;
	height: auto;
	margin-bottom: 1rem;

}
.box{
	width: 20rem !important;
	height: auto !important;
	margin-bottom: 1rem !important;
	margin: 0 auto;
}
.tiankong{
	width: 100%;
	height: auto;
	padding-left: 1rem;
	margin-bottom: 1rem;
}
.tiankong{
	padding-left: 1rem;
}
.tiankong p{
	display: block;
	font-size: 1.6rem;
}
.nei{
	padding-left: 1rem;
	color: blue;
}
.nei2{
	padding-left: 1rem;
}
.zhong{
	width: 100vw;
	min-height: 100vh;
	padding-bottom: 5rem;
	background: #f3f3f3;

}
.xiang{
	padding-left: 1rem;
}