		html,body,div,ul,li{
		  	margin: 0;
		  	padding: 0;
		  	
		  }
		  body{
		  
		  	box-sizing: border-box;
		  }
			html{
				font-size: 3.125vw;
			}
			
.z-shu{
	width:100%;
	height: 40rem;
	background: #f3f3f5;

	z-index: 1;
}
.z-zhu p{
margin-left: 100px;
display: block;
margin-top: 15px;
}
.z-zhu img{
	width:11.3rem;
	height: 13.7rem;
	margin-left: 8rem;
	display: block;
	float: left;
	margin-top: 8rem;
}
.z-zhu span{
	font-size: 1.85rem;

	margin-left: 9rem;
	display: block;
	float: left;
	margin-top: 1rem;
	color: #aa9c95;
	
}
.z-ju{
	width:85%;
}
.badgew{
	display: block;
	width:1.6rem;
	height:2rem;
	border-radius: 10%;
	color: black;
	line-height: 2rem;
	float:right;
	margin-top: -2.7rem;
	margin-right: 1rem;
	text-align: center;
	background:#9fd6fd;
}

.list-group {
width:100%;
height: 23rem;
margin-top: 1.4rem;
}
.list-group >li:nth-child(1){
	display: block;
	
}
.list-group-item {
	width:80%;
	height: 3.7rem;
 border: none;
 font-size: 1.4rem;
 padding: 0px 13px;
}
      
		.jiathis_style_m{
			
			background: #fff;
			color: red;
		padding: 2rem;

		}
		.z-d{
			width:100%;
		float: left;
			height: 5rem;
			background: #fff;
}

.z-ju{
	width:100%;
	height: 4rem;
	border-radius: 4px;
	background: #fff;
	position: relative;
    display: block;
    line-height: 4rem;
    float: left;
    border-top: 1px solid #ddd;
}

		.zk-p{
		width:33.3%;
		height: 4.6rem;
		float: left;
		margin-top: .6rem;
		}	
		.pager{
			float: left;
			margin-top: 2rem;
			margin-left: 7rem;
		}
		.zk-p img{
			width:2.4rem;
			height: 2.1rem;
			display: block;
			margin-left: 2.3rem;
		}
		.zk-p span{
			color: #909b96;
			margin-top: .2rem;
			font-size: 1.4rem;
			display: block;
			margin-left: 2.3rem;
		}
		.y-yin{
			width:100vw;
			height: 100vh;
			z-index: 999;
			position: absolute;
			top:0;
			left:0;
			background: black;
			opacity: .2;
		}
		.z-kj{
			width:100%;
			height: 16rem;
			background: #fff;
			z-index: 9999999;
			position: fixed;
			bottom: 0rem;
		
}
.bshare-custom {
    font-size: 18px !important;
    line-height: 27px !important;
}

.bshare-custom a {
	background-repeat:no-repeat !important;
    padding-left: 73px !important;
    margin-top: 13px !important;
    margin-left: 16px !important;
}

.lk{
				width:60px;
				height: 60px;
				display: block;
				float: left;
				margin-left: 29px !important;
			}
			.lk span{
				text-align: center;
				font-size: 12px;
				display: block;
			}
			.bsTop{
				width:208px !important;
			}
			.bsFrameDiv>div{
				height:208px !important;
			}
			.sz-p{
			color: goldenrod;
			margin-left: 10px;
			}
			
			.alertw{
				width:80%;
				height: 3rem;
				background:rgba(0,0,0,.8);
				position: fixed;
				bottom:0;
				left:10%;
				color: #FFFFFF;
				text-align: center;
				font-size: 1.8rem;
				line-height: 3rem;
				border-radius: 0.4rem;
				opacity:0;
		}
/*-webkit-animation:animation1 .5s ease-out  backwards;}
@-webkit-keyframes animation1{
    0%{-webkit-transform:translate(0,50px); opacity:0;}
    100%{-webkit-transform:translate(0,0px); opacity:1;}
}*/