
<div class="y-yin" ng-if="ll" ng-click="xis()"></div>

    <div class="z-shu">
	<div class="z-zhu" ng-if="we">
	<img src="images/hh.png"/>
    <span>您还没有问卷</span>
    </div>
    <ul class="list-group" ng-if="as">
 <shuju  ng-repeat="x in data | offset:shu"></shuju>
  <nav ng-if="zhu">
  <ul class="pager">
    <li ng-click="fn()"><a>Previous</a></li>
    <li ng-click="fn2()"><a >Next</a></li>
  </ul>
</nav>
</ul>

<div class="z-kj"style="display: none;"> 

        <div class="bshare-custom" title="C#面向对象程序设计" url="http://blog.csdn.net/pan_junbiao/article/details/5308139" pic="http://i0.sinaimg.cn/ty/g/pl/2014-01-05/U9977P6T12D6966211F1286DT20140105031220.jpg">分享到：
	<a title="分享到QQ空间" class="bshare-qzone"></a>
	<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
	<a title="分享到人人网" class="bshare-renren"></a>
	<a title="分享到腾讯微博" class="bshare-qqmb"></a>
	<a title="分享到网易微博" class="bshare-neteasemb"></a>
	</div>

</div>


</div>


