<div class="y-yin" ng-if="ll" ng-click="xis()">
</div>

<div class="z-shu">
	<div class="z-zhu" ng-if="we">
		<img src="images/hh.png" />
		<span>您还没有问卷</span>
	</div>
	<ul class="list-group" ng-if="as">
		<shuju ng-repeat="x in data | offset:shu"></shuju>

	</ul>
	<nav ng-if="zhu">
		<ul class="pager">
			<li >
				<a ng-click="fn()">Previous</a>
			</li>
			<li >
				<a ng-click="fn2()">Next</a>
			</li>
		</ul>
	</nav>
	<shujw></shujw>
	<div class="alertw" ng-click="lon()">{{shj}}</div>
</div>
<div ui-view></div>